## Import Data

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
from PIL import Image

In [3]:
label_index = {"dry": 0, "normal": 1, "oily": 2}

def create_df(base):
    dd = {"images": [], "labels": []}
    for label_name in os.listdir(base):
        label_path = os.path.join(base, label_name)
        if os.path.isdir(label_path):  
            for img_name in os.listdir(label_path):
                img_path = os.path.join(label_path, img_name)
                dd["images"].append(img_path)
                dd["labels"].append(label_index[label_name])
    return pd.DataFrame(dd)

In [4]:
target_label = 'valid'
base_path = f"Oily-Dry-Skin_Faces_only/{target_label}"
raw_df = create_df(base_path)

In [5]:
raw_df.head()

                                              images  labels
0  Oily-Dry-Skin_Faces_only/valid/dry/dry_de06cd0...       0
1  Oily-Dry-Skin_Faces_only/valid/dry/dry_ca28b3a...       0
2  Oily-Dry-Skin_Faces_only/valid/dry/dry_4381964...       0
3  Oily-Dry-Skin_Faces_only/valid/dry/dry_c4af664...       0
4  Oily-Dry-Skin_Faces_only/valid/dry/dry_30a7296...       0

In [6]:
def normalize(df):
    out_df = pd.DataFrame(columns=['R', 'G', 'B', 'labels'], index=df.index)
    for index, row in df.iterrows():
        img = Image.open(row['images']).convert('RGB')
        R = np.array(img.getdata(0), dtype=np.float32) / 255.0
        G = np.array(img.getdata(1), dtype=np.float32) / 255.0
        B = np.array(img.getdata(2), dtype=np.float32) / 255.0
        out_df.loc[index] = [R, G, B, row['labels']]
    return out_df

normalized_images = normalize(raw_df)

In [7]:
normalized_images.head()

,R,G,B,labels
0,"[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...","[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...","[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...",0
1,"[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...","[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...","[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...",0
2,"[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...","[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...","[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...",0
3,"[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...","[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...","[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...",0
4,"[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...","[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...","[0.5019608, 0.5019608, 0.5019608, 0.5019608, 0...",0